# Skopiuj ten plik jako .env wyłącznie na VPS-ie.
DISCORD_TOKEN=TU_WKLEJ_NOWY_TOKEN_BOTA

# ID serwera testowego. Ustaw 0, jeśli komendy mają być rejestrowane globalnie.
Bot__TestGuildId=1547289171075538944
Bot__PointsPerMinute=1
Bot__HeartbeatSeconds=30
Bot__IgnoreAfkChannel=true

Shop__MutePrice=500
Shop__MuteDurationMinutes=1
Shop__JailPrice=1500
Shop__JailDurationMinutes=5
Shop__DisconnectPrice=750
